body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5em 1em 0.5em 1em;
    background-color: #000;
    color: #fff;
}

h1 {
    margin: 0;
}

h2 {
    font-weight: normal;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-bottom: 0.5em;
}

li[focused] {
    font-weight: bold;
    /* border: #000 2px solid;
    border-radius: 5px; */
}


li[focused]::after {
    content: " →";
    float: right;
}

.main {
    background-color: #fff;
    border-radius: 5px;
    flex-grow: 1;
}

.main>:last-child {
    flex: 1;
}

.pad {
    padding: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gap {
    gap: 1.5em;
}

.new-task {
    height: 1.3em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: #fff000;
    font-size: 1.5em;
    text-align: center;
}

.tasks-list {
   /* looks like masonry layout is not that simple to do, so this basic grid setup will suffice for now */
    margin-block-start: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

@media (max-width: 1024px) {
    .tasks-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .tasks-list {
        grid-template-columns: 1fr;
    }
}

task-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

task-box:focus-within {
    border: 1px solid #777;
    border-radius: 5px;
    transition: 200ms;
    box-shadow: 0 3px 9px #00000055, 0 1px 3px #00000055;

}